* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 100% !important;
  min-height: 100% !important;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
}
