.Navbar {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 89, 59);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(208, 204, 204);
}

.AccountName {
  margin: 0 1rem;
}
