#support-hero {
  display: flex;
  flex-direction: column;
  background-color: #6fc1fb;
  color: white;
}

#support-wrapper {
  display: flex !important;
  justify-content: space-between;
  margin: 0 3rem;
}
