.fa-square-plus {
  margin-left: 1rem;
}

.iconSpan {
  background-color: #c6f4ff;
}

.DropDownBtn {
  transition: 0.2s;
}

.DropDownBtn:hover {
  transform: translatex(5px);
}

.anchor-div {
  padding: 1rem;
  border: 5px solid #fff;
  background-color: #f1e3cc;
  border-radius: 0.5rem;
  border-left: 5px solid #e15d35;
  max-width: 20rem;
  position: absolute;
  top: 16rem;
  left: 68rem;
}

.anchor-div-para1:hover {
  text-decoration: underline;
}

.anchor-div-para2:hover {
  text-decoration: underline;
}

.TicketTable {
  width: 20rem;
  margin-left: auto;
}
